*{
	margin: 0px;
	padding: 0px;
}

body {
    font-family: verdana, sans-serif;
    color: black;
    background: #F5F1E8;
}

.vakken{
	background: #FDFCF9;
	/*width: 80%;*/
    margin: 0px auto 40px auto;
}

.ruimte{
	display: block;
	margin: 0px auto;
	max-width: 80%;
}

 /*tekst*/
/* h1, h2, h3{
 	text-align: center;
 	padding: 20px 20px 10px 20px;
 }*/

h1, h2{
	font-size: 1.5em;
 	text-align: center;
 	padding-top: 2em;
 	padding-bottom: .2em;
 	font-weight: normal;
 }
h3{
	font-size: 1em;
 	text-align: center;
 	padding-bottom: .2em;
 	font-weight: bold;
 }

 p, figcaption{
	text-align: center;
	padding-bottom: 25px;
	display: block;
	margin: 0px auto;
	max-width: 80%;
 }

 img{
 	max-width: 95%;
 	display: block;
 	margin: 0px auto 0px auto;
 }

 .pasfoto {
 	display: block;
  	margin-left: auto;
  	margin-right: 50px;
  	width: 30%;
 }

 .foto{
 	display: block;
  	margin-left: auto;
  	margin-right: 50px;
  	width: 30%;
  	margin: 80px 50px 80px auto;
 }

.achtergrond{
	background: #FDFCF9;
	width: 80%;
    margin: 0px auto 40px auto;
	display: block;
	margin: 0px auto;
	max-width: 80%;

}

.tekst{
	float: left;
	width: 50%;
    margin-left: 180px;
    text-align: left;
}

/*logo*/
.logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
}

.kolom{
	float: left;
	width: 50%;
	padding-top: 70px;
    margin-left: 180px;
    text-align: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.link{
	color: blue;
}

/*nav*/
li{
	font-size: 2.5em;
	text-transform: uppercase;
	display: inline;
	margin: 20px;					/*Zodat ze verder uit elkaar staan*/
}

nav{
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;					/*Zodat nav boven en onder ruimte heeft*/
}

a{
 	color: black;
 	text-decoration: none;
 }

 .current a{
 	color: #C9BCB1;
 	font-weight: bold;
 }

 .beeld{
 	width: 75%;
 	padding-bottom: 3em;
 }

 .logo{
 	width: 2em;
 	padding-bottom: .5em;
 }


/*form*/
form{
	font-size: 2em;
	text-align: center;
	width: 70%;
	margin: 20px auto;
	padding: 20px;
}

input, button, textarea {
	font-size: 1em;
	width: 90%;
    background-color: #f6eff0;
    margin: 15px 0px;
    border-radius: 15px;
    padding: 10px 10px;  
}

button{
    background-color: #b77b87;
    display: block;
    margin: 60px auto;
}

textarea{
	height: 300px;
}

label{
	display: block;
	margin: 15px auto;
}


 /*footer*/
 footer{
 	text-align: center;
 	background-color: #C9BCB1;
 	width: 100%;
 	padding: 20px 0px 0px 0px;
 }

footer p{
	font-size: 0.5em;
}


footer img{
	display: inline-block;
}

.container{
	padding: 0px 30px 10px 30px;
	padding-bottom: 1em;
}